<div class="checkbox-and-errors-container">
  <div class="checkable-container">
    <%= f.check_box :ChangeAttribute,
      class: 'form-control',
      autofocus: ChangeOrRemove,
      checked: ChangeOrRemove,
      disabled: ChangeOrRemove
    %>
    <%= f.label :ChangeAttribute, 'ChangeAttributeDisplay', class: 'checkable-left' %>
  </div>
  <%= f.inline_errors :ChangeAttribute %>
</div>
