
<%# DeleteThis - add class vertical-condensed below to remove vertical padding and margin (good for show groups inside of tool tips) %>
<div class="form-group left-label">
  <%# DeleteThis - change left label width as needed but make sure all inputs on form match %>
  <%# DeleteThis - add class justify-start to make label align left instead of right %>
  <div class="left-label-container w-20">
    <div>ChangeLabelDisplay:</div>
  </div>
  <div class="left-label-input">
    <div class="show-value">ChangeDisplay</div>
  </div>
</div>
