<div class="form-submit-buttons">
  <%= content_tag 'A', 'Cancel', class: 'btn btn-secondary mr-2', data: { action: 'click->modal#hide' } %>
  <%= f.submit 'ChangeSubmitToAddForNewOrSaveForUpdate', class: 'btn' %>
</div>
