<div class="form-submit-buttons">
  <%= link_to 'Cancel', ChangePath(account, ChangeModel), class: 'btn btn-secondary mr-2' %>
  <%= f.submit 'ChangeSubmitToAddForNewOrSaveForUpdate', class: 'btn' %>
</div>
